<h1>Tranaction Details for Subway </h1>

<table class="table">
<tr>
	<th>Vendor</th>
	<th>Transaction</th>
	<th>Amount</th>
	<th>Date</th>
</tr>
<tr>
	<td>Subway</td>
	<td>Footlong Club</td>
	<td>5.99</td>
	<td>1/31/2014</td>
</tr>
</table>

<p><a href="/index">Return to overview</a></p>